body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header, #featured-property {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: 
}

#featured-property p {
  padding-left: 200px;
  padding-right: 200px;
}



